@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway&display=swap');

/* Reset browser level CSS and body font */
*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Raleway, sans-serif;
    color: #111111;
}

/* Headings, Logos, symbol */
h1, h2{
    font-family: Abril Fatface, sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 5px;
    color: #202020
}

header div{
    clear: both;
}

#heading{
    height: 80px;
}

#navigation{
    height: 40px;
}

#logo{
    float: left;
    font-size: 250%;
    margin-left: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

#bike{
    float: right;
    font-size: 300%;
    margin-right: 10px;
}

#logo, #bike{
    line-height: 75px;
}

/*Nav menu*/
#links{
    letter-spacing: 2px;
    font-size: 150%;
    position: relative;
    text-align: center;
}

#links li{
    display: inline;
    list-style-type: none;
}

#links a{
    text-decoration: none;
    color: inherit;
}

.open{
    background-color: #646262;
    border-bottom: 1px solid #111111;
}

#links a:hover{
    border-bottom: 1px solid #111111;
}

/* Landing Page Image, Cover text*/

#image-section{
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#covering-text h2, #covering-text h3{
    color: #fff;
}

#main-image{
    height: 500px;
    width: 100%;
    background: url("../Images/main_image.jpg") no-repeat center center;
}
/*Cover text inspiration came from Love Running web page */
#covering-text{
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    bottom: 30px;
    right: 150px;
    position: absolute;
}

/* Equipment,Route page main info container, one thrid container*/
.main-section{
    height: 500px;
    width: 100%;
    /*background-color: aqua;*/
    /*border: 1px solid black;*/
}

#bike-section h2{
    text-align: center;
    padding-top: 2%;
}

#bike-section-text{
    float: left;
    width: 50%;
    padding-left: 5px;
}

#bike-section-video{
    float: right;
    width: 50%;
    padding-left: 5px;
}

#bike-section  li{
    display: inline;
    list-style-type: none;
    padding: 10px;
}

.one-third-box{
    height: 500px;
    background-color: brown;
    border: 1px solid black;
}

#right{
    float: left;
    width: 33%;
}

#left{
    float: left;
    width: 33%;
}

#center{
    float: left;
    width: 33%;
}

/* Footer and social media links */
footer{
    height: 100px;
    width: 100%;
    /*position: absolute;*/
    bottom: 0;
}

footer h3{
    /*position: relative;*/
    float: left;
    color: #111111;
    padding-top: 45px;
    padding-bottom: 45px; 
    padding-left: 5px;;
}

.media-links{
    /*position: relative;*/
    float: right;
    padding-top: 45px;
    padding-bottom: 45px; 
}

.media-links > li{
    display: inline;
}

.media-links i{
    font-size: 120%;
    margin-right: 25px;
    padding-right: 25px;
    color: #111111
}

/* about section */

#about{
    height: 300px;
    width: 100%;
    text-align: center;
}

#outer-container{
    clear: both;
}

#about-container{
    height: 150px;
    width: 50%;
    padding-top: 5%;
    text-align: center;
    float: left;
}

#quote-container{
    height: 150px;
    width: 50%;
    padding-top: 5%;
    text-align: center;
    float: right;
}

.goButton{
    padding: 5px;
    text-decoration: none;
    background-color: #ff0000;
    font-size: large;
    color: #ffffff;
    padding: 2px 6px 2px 6px;
}