@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway&display=swap');

/* Reset browser level CSS and body font */
*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Raleway, sans-serif;
    color: #111111;
}

/* Headings, Logos, symbol */
h1, h2{
    font-family: Abril Fatface, sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 5px;
    color: #202020
}

header div{
    clear: both;
}

#heading{
    height: 80px;
}

#navigation{
    height: 40px;
}

#logo{
    float: left;
    font-size: 250%;
    margin-left: 40px;
    padding-bottom: 10px;
    text-decoration: none;
}

#bike{
    float: right;
}

/*Nav menu*/
#links{
    letter-spacing: 2px;
    font-size: 150%;
    text-align: center;
}

#links li{
    display: inline;
    list-style-type: none;
}

#links a{
    text-decoration: none;
    color: inherit;
}

.open{
    background-color: #646262;
    border-bottom: 1px solid #111111;
}

#links a:hover{
    border-bottom: 1px solid #111111;
}

/* Main Image, Cover text*/

#image-section{
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#covering-text h2, #covering-text h3{
    color: #fff;
}

#main-image{
    height: 500px;
    width: 100%;
    background: url("../Images/main_image.jpg") no-repeat center center;
}

#covering-text{
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    bottom: 30px;
    right: 150px;

    position: absolute;
}