@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway&display=swap');

/* Reset browser level CSS and body font */
*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Raleway, sans-serif;
    font-size: 16px;
    color: #111111;
}

/* Headings and Logos,*/
h1, h2{
    font-family: Abril Fatface, sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 5px;
    color: #202020
}

header div{
    clear: both;
}

.heading{
    height: 80px;
    display: flex;
    flex-direction: column;
}

.navigation{
    height: 35px;
    padding: 1%;
}

.logo{
    text-align: center;
    font-size: 250%;
    margin-left: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    line-height: 75px;
}

/*Nav menu*/
.links{
    letter-spacing: 2px;
    font-size: 150%;
    position: relative;
    text-align: center;
}

.links li{
    display: inline;
    list-style-type: none;
}

.links a{
    text-decoration: none;
    color: inherit;
}

.open{
    border-bottom: 1px solid #111111;
}

.links a:hover{
    border-bottom: 1px solid #111111;
}

/*Page structure, main section and one third boxes*/
.main-section{
    width: 100%;
    padding-top: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.one-third-box{
    height: 700px;
    width: 31%;
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

.three-box-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-box-color{
    background-color: rgba(59, 57, 57, 0.3);
}

.block-section{
    padding: 1%;
}

/*Button styling*/
.goButton{
    text-decoration: none;
    background-color: #ff0000;
    font-size: large;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
}

.go-button{
    padding: 5%;
}

.button{
    display: flex;
}

/* Footer and social media links */
footer{
    height: 50px;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer h3{
    color: #111111;
    padding-top: 45px;
    padding-bottom: 45px; 
    padding-left: 5px;
}

.media-links{
    padding-top: 45px;
    padding-bottom: 45px; 
}

.media-links > li{
    display: inline;
}

.media-links i{
    font-size: 120%;
    margin-right: 25px;
    padding-right: 25px;
    color: #111111
}

/* Landing Page Image, Cover text*/

.image-section{
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#covering-text h2, #covering-text h3{
    color: #fff;
}

#main-image{
    height: 500px;
    width: 100%;
    background: url("../images/main_image.jpg") no-repeat center center;
}

/*Cover text inspiration came from Love Running web page */
#covering-text{
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    bottom: 30px;
    right: 150px;
    position: absolute;
}

/* about section */

.main-home-section{
    width: 100%;
    text-align: center;
}

.main-home-section h2{
    padding: 2%;
}

.outer-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.about-quote-container{
    display: flex;
    flex-direction: column;
    height: 75px;
    width: 20%;
    padding: 5%;
    text-align: center;
    border-radius: 10px;
    justify-content: flex-end;
}

/* Equipment page*/

.main-section h2{
    text-align: center;
    padding: 1%;
}

.main-section-text{
    width: 42%;
    margin: 0 auto;
    padding: 2%;
    border-radius: 5px;
}

.bike-button{
    width: 5%;
}

.bike-section-media{
    width: 45%;
    margin: 0 auto;
}

.bike-section-media iframe{
    height: 100%;
    width: 100%;
}

.bike-section-media img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.main-section li{
    display: inline;
    list-style-type: none;
    padding: 10px;
}

.one-third-box img{
    height: 40%;
    width: 90%;
    padding-top: 5%;
}

.one-third-box h2{
    padding: 5%;
}

/*Map section dimensions*/
#map-section{
    height: 550px;
    width: 100%;
    text-align: center;
}

#map-section iframe{
    width: 95%;
    border-radius: 10px;
}

#map-section h2, #map-section p{
    padding: 1%;
}

/*Route page*/
#route-section-text{
    float: left;
    width: 45%;
    padding-left: 5%;
    padding-top: 5%;
}

#route-section-image{
    float: right;
    width: 45%;
    padding-right: 2.5%;
    padding-left: 2.5%;
    padding-top: 5%;
}

#route-section-image img{
    height: 400px;
    width: 75%;
}

.one-third-box iframe{
    width: 90%;
    bottom: 5%;
}

.route-text{
    width: 75%;
}

.route-map{
    width: 85%;
}

/* Form Section */
#sign-up{
    background-image: url("../images/group-cycle.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.details-form{
    color: #fff;
    max-width: 450px;
    position: absolute;/* These 4 lines are to center the div, spent some time researching this and found a solution on youtube */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.details-form h2{
    text-align: center;
    color: #fff;
}

.form-input{
    width: 80%;
    height: 20px;
    margin: 10px 5px 10px 30px;
    border: 1px solid #111111;
    border-radius: 5px;
}

label{
    padding-left: 5px;
}

#form-button{
    border-radius: 5px;
    width: 100%;
}

/*Media queries*/

/*tablet*/

@media screen and (max-width: 1200px){

    .logo{
        font-size: 200%;
        margin-left: 10px;
        padding-bottom: 10px;
        text-decoration: none;
    }

    .about-quote-container{
        display: flex;
        flex-direction: column;
        height: 75px;
        width: 20%;
        padding: 5%;
        text-align: center;
        border-radius: 10px;
        justify-content: center;
    }

    .main-section{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .main-section-text{
        width: 60%;
    }

    .bike-section-media{
        width: 500px;
        height: 500px;
        padding-top: 5px;
    }

    .button{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .three-box-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .one-third-box{
        width: 60%;
    }

    #map-section{
        width: 80%;
        margin: 0 auto;
    }

    footer{
        height: 50px;
        width: 100%;
        bottom: 0;
        padding-left: 2%;
        display: flex;
        flex-direction: row;
    }

}

/* mobile */
@media screen and (max-width: 950px){
    .logo{
        font-size: 200%;
        margin-left: 10px;
        padding-bottom: 10px;
        text-decoration: none;
    }

    .links{
        font-size: 100%;
        position: relative;
        text-align: left;
    }


    #covering-text{
        right: 50px;
    }

    .outer-container{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .about-quote-container{
        display: flex;
        height: 120px;
        width: 40%;
        padding: 9%;
        text-align: center;
        border-radius: 10px;
        justify-content: center; 
    }

    .bike-section-media{
        height: 250px;
        width: 250px;
        padding-top:5px;
    }

    .one-third-box{
        width: 85%;
    }

    .three-box-section{
        width: 75%;
        border-radius: 40px;
    }

    footer{
        height: 50px;
        width: 100%;
        bottom: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
    }

    footer h3{
        color: #111111;
        padding-top: 45px;
    }

    .media-links{
        padding-top: 10px;
    }

    .media-links i{
        font-size: 120%;
        padding-right: 25px;
        color: #111111
    }
}

@media screen and (max-width: 380px){
    #covering-text{
        font-size: 170%;
        right: 0px;
    }

    .about-quote-container{
        width: 50%;
    }

    .about-quote-container p{
        font-size: 12px;
    }

    .goButton{
        font-size: small;
    }
}